<div class="container-fluid">
    <h1>Create a new note</h1>
    <form action="/newnote" method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" placeholder="Enter title" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="keywords">Keywords:</label>
        <input type="text" class="form-control" placeholder="Enter keywords" id="keywords" name="keywords">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" rows="10" id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> 